bin
lib
lib64
pip-selfcheck.json
*sh
*pyc
*.DS_Store
__pycache__/
.idea
*.egg-info/
build
dist
datasets/*
!datasets/README.md
pylogsentiment/modelfile
glove/glove.6B.50d.txt
glove/glove6B.50d.tar.gz
!glove/README.md
